<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HyperVote</title>
    <meta name="description" content="HyperVote Application">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link href="assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<script>

    function postVote() {
        console.log('POSTING A VOTE')
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:3000/api/MakeVote", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(
            {
                "$class": "org.acme.sample.MakeVote",
                "share": "genesis",
                "newVoteDecision": "1",
                "timestamp": "2018-04-28T21:50:11.615Z"
            })
        );
        // var response = JSON.parse(xhttp.responseText);
        
    }

        // HYPERVOTE POST
        function postVoteHV() {
        console.log('POSTING A VOTE - HYPERVOTE')
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:3000/api/MakeVote", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(
            {
                "$class": "org.acme.sample.MakeVote",
                "share": "hypervote",
                "newVoteDecision": "1",
                "timestamp": "2018-04-28T21:50:11.615Z"
            })
        );
        // var response = JSON.parse(xhttp.responseText);
        
    }

        // MICROSOFT VOTE
        function postVoteMS() {
        console.log('POSTING A VOTE - MICROSOFT')
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:3000/api/MakeVote", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(
            {
                "$class": "org.acme.sample.MakeVote",
                "share": "microsoft",
                "newVoteDecision": "1",
                "timestamp": "2018-04-28T21:50:11.615Z"
            })
        );
        // var response = JSON.parse(xhttp.responseText);
        
    }

        // HOOTSUITE VOTE
        function postVoteHS() {
        console.log('POSTING A VOTE - HOOT SUITE')
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:3000/api/MakeVote", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(
            {
                "$class": "org.acme.sample.MakeVote",
                "share": "hootsuite",
                "newVoteDecision": "1",
                "timestamp": "2018-04-28T21:50:11.615Z"
            })
        );
        // var response = JSON.parse(xhttp.responseText);
        
    }

        // BUILD DIRECT VOTE
        function postVoteBD() {
        console.log('POSTING A VOTE - BUILD DIRECT')
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:3000/api/MakeVote", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(
            {
                "$class": "org.acme.sample.MakeVote",
                "share": "builddirect",
                "newVoteDecision": "1",
                "timestamp": "2018-04-28T21:50:11.615Z"
            })
        );
        // var response = JSON.parse(xhttp.responseText);
        
    }

</script>

<body>


        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="images/logo_cropped.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"> <i class="menu-icon fa fa-home"></i>Home Page </a>
                    </li>
                    <!-- <h3 class="menu-title">CREATE VOTE</h3>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Badges</a></li>
                            <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Tabs</a></li>
                            <li><i class="fa fa-share-square-o"></i><a href="ui-social-buttons.html">Social Buttons</a></li>
                            <li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>
                            <li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Alerts</a></li>
                            <li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Progress Bars</a></li>
                            <li><i class="fa fa-fire"></i><a href="ui-modals.html">Modals</a></li>
                            <li><i class="fa fa-book"></i><a href="ui-switches.html">Switches</a></li>
                            <li><i class="fa fa-th"></i><a href="ui-grids.html">Grids</a></li>
                            <li><i class="fa fa-file-word-o"></i><a href="ui-typgraphy.html">Typography</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="tables-basic.html">Basic Table</a></li>
                            <li><i class="fa fa-table"></i><a href="tables-data.html">Data Table</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li> -->

                    <h3 class="menu-title">ASSIGNED VOTES</h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>UPCOMMING </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-themify.html">All</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Share Holder</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Union</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Strata</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>PAST </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Share Holder</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Union</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Strata</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">


            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">3</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check-circle"></i>
                                <p>Microsoft general assembly vote now live until May 23rd, 2018.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check-circle"></i>
                                <p>Park View Strata Vote 'Roof Funding' now live until May 25th, 2018.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-plus-circle"></i>
                                <p>You have been assigned a new vote to: Apple general assembly vote. Open June 10, 2018.</p>
                            </a>
                          </div>
                        </div>

                        <div class="dropdown for-message">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">4</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 new messages</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hey Adam, I have a question about the upcoming strata vote for the roof. Mind if we call tomorrow?</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Who are you going to vote for the upcoming Apple board?</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">1 day ago</span>
                                        <p>I don't like that actually, not going to vote for it.</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">3 days ago</span>
                                        <p>Don't forget we need that vote for the roof to go through.</p>
                                </span>
                            </a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                                <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <p style="font-size: 14px; margin-bottom: 0">Sponge Bob</p>
                    </div>

                </div>
            </div>

        </header>

        <!-- navbar -->

        <!-- <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <a style="float: left; padding: 10px; padding-left: 0px;" href="font-fontawesome.html">
                            <button class="btn-secondary btn-lg">
                                    <i class="fa fa-arrow-left"></i>
                            </button>
                        </a>
                        <h1 style="width: 500px; padding-top:23px;">Return</h1>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- JUMBOTRON -->

        <div class="jumbotron" style="padding-bottom: 20px; padding-top: 20px;">
            <h1 class="display-4">BC TECH SUMMIT</h1>
            <hr class="my-4">
            <h6>Description: People's choice award for best company at the 2018 BC Tech Summit, using blockchain voting.</h6>
            <br>
            <p>Voting Date: May 16, 2018</p>
            <p>Voting Time: 12:00PM - 11:59PM</p>
        </div>

        <!-- DESCRIPTION -->
        <div id="accordion">

            <!-- MICROSOFT -->
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Microsoft
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                        Microsoft Corporation is an American multinational technology company with headquarters in Redmond, Washington. It develops, manufactures, licenses, supports and sells computer software, consumer electronics, personal computers, and services. Its best known software products are the Microsoft Windows line of operating systems, the Microsoft Office suite, and the Internet Explorer and Edge web browsers. Its flagship hardware products are the Xbox video game consoles and the Microsoft Surface lineup of touchscreen personal computers. As of 2016, it is the world's largest software maker by revenue, and one of the world's most valuable companies. The word "Microsoft" is a portmanteau of "microcomputer" and "software".
                    <div class="content mt-3" style="margin-bottom: 20px;">
                        <button class="btn-success" style="width: 200px; height: 50px; float: right;" type="submit" data-toggle="modal" data-target="#microsoftModal">Vote</button>
                    </div>
                </div>
              </div>
            </div>

            <!-- HYPERVOTE -->
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    HyperVote
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    HyperVote is an online blockchain start up, aimed at reducing corruption and improving transparency in elections. Based in Vancouver Canada, HyperVote uses a permissioned blockchain, allowing for greater controll and security.
                    <div class="content mt-3" style="margin-bottom: 20px;">
                        <button class="btn-success" style="width: 200px; height: 50px; float: right;" type="submit" data-toggle="modal" data-target="#hypervoteModal">Vote</button>
                    </div>
                </div>
              </div>
            </div>

            <!-- HOOTSUITE -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Hoot Suite
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Hootsuite is a social media management platform, created by Ryan Holmes in 2008.[6] The system’s user interface takes the form of a dashboard, and supports social network integrations for Twitter, Facebook, Instagram, LinkedIn, Google+ and YouTube.
                        <div class="content mt-3" style="margin-bottom: 20px;">
                            <button class="btn-success" style="width: 200px; height: 50px; float: right;" type="submit" data-toggle="modal" data-target="#hootsuiteModal">Vote</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BUILDDIRECT -->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Build Direct
                    </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                            BuildDirect is a technology company headquartered in Vancouver, British Columbia. It is an online marketplace for heavyweight home improvement products. The company was founded in 1999 by Jeff Booth and Rob Banks, and connects buyers (consumers and contractors) with sellers (suppliers and manufacturers). Categories include, but are not limited to, flooring, tile, decking, building materials, outdoor, kitchen & bath, molding & accessories and doors.
                        <div class="content mt-3" style="margin-bottom: 20px;">
                            <button class="btn-success" style="width: 200px; height: 50px; float: right;" type="submit" data-toggle="modal" data-target="#builddirectModal">Vote</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- /#right-panel -->



    <!-- MODALS -->

    <!-- Modal FOR HYPERVOTE-->
    <div class="modal fade" id="hypervoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HyperVote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vote HyperVote as your favourite start up
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="#"><button type="button" class="btn btn-success" onclick="postVoteHV()">Confirm Vote</button></a>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal FOR MICROSOFT-->
    <div class="modal fade" id="microsoftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Microsoft</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vote Microsoft as your favourite start up
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="#"><button type="button" class="btn btn-success" onclick="postVoteMS()">Confirm Vote</button></a>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal FOR HOOTSUITE-->
    <div class="modal fade" id="hootsuiteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hoot Suite</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vote Hoot Suite as your favourite start up
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="#"><button type="button" class="btn btn-success" onclick="postVoteHS()">Confirm Vote</button></a>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal FOR BUILD DIRECT-->
    <div class="modal fade" id="builddirectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Build Direct</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vote Build Direct as your favourite start up
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="#"><button type="button" class="btn btn-success" onclick="postVoteBD()">Confirm Vote</button></a>
            </div>
            </div>
        </div>
    </div>
    

    <!-- Right Panel -->

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/widgets.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>
</html>
